
@font-face {
  font-family: 'Orgon-LightIt';
  src: url('Orgon-LightIt.eot?#iefix') format('embedded-opentype'),  url('Orgon-LightIt.otf')  format('opentype'),
	     url('Orgon-LightIt.woff') format('woff'), url('Orgon-LightIt.ttf')  format('truetype'), url('Orgon-LightIt.svg#Orgon-LightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
