
@font-face {
  font-family: 'Orgon-ExtraBold';
  src: url('Orgon-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Orgon-ExtraBold.otf')  format('opentype'),
	     url('Orgon-ExtraBold.woff') format('woff'), url('Orgon-ExtraBold.ttf')  format('truetype'), url('Orgon-ExtraBold.svg#Orgon-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
