
@font-face {
  font-family: 'Orgon-BoldIt';
  src: url('Orgon-BoldIt.eot?#iefix') format('embedded-opentype'),  url('Orgon-BoldIt.otf')  format('opentype'),
	     url('Orgon-BoldIt.woff') format('woff'), url('Orgon-BoldIt.ttf')  format('truetype'), url('Orgon-BoldIt.svg#Orgon-BoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
