
@font-face {
  font-family: 'Orgon-ExtraLightIt';
  src: url('Orgon-ExtraLightIt.eot?#iefix') format('embedded-opentype'),  url('Orgon-ExtraLightIt.otf')  format('opentype'),
	     url('Orgon-ExtraLightIt.woff') format('woff'), url('Orgon-ExtraLightIt.ttf')  format('truetype'), url('Orgon-ExtraLightIt.svg#Orgon-ExtraLightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
