
@font-face {
  font-family: 'Orgon-Bold';
  src: url('Orgon-Bold.eot?#iefix') format('embedded-opentype'),  url('Orgon-Bold.otf')  format('opentype'),
	     url('Orgon-Bold.woff') format('woff'), url('Orgon-Bold.ttf')  format('truetype'), url('Orgon-Bold.svg#Orgon-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
