
@font-face {
  font-family: 'Orgon-ExtraLight';
  src: url('Orgon-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('Orgon-ExtraLight.otf')  format('opentype'),
	     url('Orgon-ExtraLight.woff') format('woff'), url('Orgon-ExtraLight.ttf')  format('truetype'), url('Orgon-ExtraLight.svg#Orgon-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
