
@font-face {
  font-family: 'Orgon-ExtraBoldIt';
  src: url('Orgon-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),  url('Orgon-ExtraBoldIt.otf')  format('opentype'),
	     url('Orgon-ExtraBoldIt.woff') format('woff'), url('Orgon-ExtraBoldIt.ttf')  format('truetype'), url('Orgon-ExtraBoldIt.svg#Orgon-ExtraBoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
