
@font-face {
  font-family: 'Orgon-BlackIt';
  src: url('Orgon-BlackIt.eot?#iefix') format('embedded-opentype'),  url('Orgon-BlackIt.otf')  format('opentype'),
	     url('Orgon-BlackIt.woff') format('woff'), url('Orgon-BlackIt.ttf')  format('truetype'), url('Orgon-BlackIt.svg#Orgon-BlackIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
