
@font-face {
  font-family: 'Orgon-Thin';
  src: url('Orgon-Thin.eot?#iefix') format('embedded-opentype'),  url('Orgon-Thin.otf')  format('opentype'),
	     url('Orgon-Thin.woff') format('woff'), url('Orgon-Thin.ttf')  format('truetype'), url('Orgon-Thin.svg#Orgon-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
